* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;

}

/* 
=====================================

Navigation bar 

=====================================
*/

nav{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: whitesmoke;
    height: 80px;
    
    
}
nav .nav-links{
    /* border: 2px solid rgb(68, 255, 0); */
    display: flex;
    flex-grow: 1;
    justify-content: end;
    margin-right: 200px;
    gap: 20px;
}

nav .logo{
    /* border: 2px solid rgb(47, 0, 255); */
    margin-left: 200px;
    
}

a{
    text-decoration: none;
    color: whitesmoke;
}

/* 
=====================================

main content

=====================================
*/

.main-content{
    display: flex;
    justify-content: center;
    height: 400px;
    background-color: #1F2937;
    color: whitesmoke;
}

.main-content-text{

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max-content;
    flex-basis: 500px;
    align-self: center;
    gap: 10px;
    height: 75%;
}

.main-content-text h1{
    width: 300px;
}

.main-content-text p{
    width: 420px;
    color: #e5e7eb;
    font-size: 18px;
}

.main-content-text button{
    width: 80px;
    padding: 8px;
    background-color: rgb(48, 105, 210);
    color: whitesmoke;
    border-radius: 8px;
    border: none;
}

.main-content-text button:hover{
    background-color: rgb(117, 144, 195);
}

.image{
    flex-basis: 500px;
    height: 75%;
    align-self: center;
    background-color: rgba(67, 67, 67, 0.534);
}

/* 
=====================================

middle content

=====================================
*/

.mid-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mid-content .title{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 15px;
    margin-top: 30px;
}

.illustartions{
    display: flex;
    margin-top: 30px;
}

.illustartion-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustartion{
    border: 5px solid #3882f6;
    border-radius: 15%;
    width: 180px;
    height: 180px;
}

.illustartion-box .subtext{
    align-items: center;
    padding: 3px;
    width: 45%;
    font-size: 18px;
    color: #626468;
    text-align: center;
}

/* 
=====================================

quote

=====================================
*/

.quote-container{
    background-color: #e5e7eb;
    height: 400px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 50%;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 30px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

.quote .author{
    font-size: 20px;
    font-weight: 900;
    align-self: flex-end;
    
}

/* 
=====================================

sign up section

=====================================
*/


.sign-up-section{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-section .main-conetner{
    background-color: #3882f6;
    color: whitesmoke;
    border-radius: 15px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;

    display: flex;
    gap: 40px;
}

.sign-up-section h4{
    font-size: 20px
}

.sign-up-section p{
    font-size: 16px;
    color: #ebf0f6;
}

.sign-up-section button{
    background-color: #3882f6;
    border-style: none;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    border-radius: 10%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
}

.sign-up-section button:hover{
    background-color: #6698e8;

}


/* 
=====================================

footer

=====================================
*/

footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

footer p{
    font-size: 18px;
    color: #f7f7f7;
}
